body{
    font-family: fantasy, sans-serif;
    margin: 0;
    text-align: center;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
}
a:link {
  color: white;
}
.img-responsive{
  width:1%; 
  height:1%;
  display:block
  
}
/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #dfd5b4;
}

/* selected link */
a:active {
  color: blue;
}
.main-header{
  margin: 0;
  padding: 0.5%;
  background-image: linear-gradient(to right, #dfd5b4 ,#e9efeb);
}
input[type=text], input[type=password],input[type=date] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #ff0707;
  color: white;
  padding: 20px 30px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  color: dodgerblue;
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #42a9a78f;
}
.signupbtn{
  padding: 14px 20px;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #070d1594;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.signup-box {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;

}
/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #42a9a78f;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
ul.Signup01{
    margin-left: auto;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
.hi-slide {
  position: relative;
  width: 754px;
  height: 292px;
  margin: 115px auto 0;

}
.hi-slide > ul{
  list-style: none;
  position: relative;
  width: 754px;
  height: 292px;
  margin: 0;
  padding: 0;
}
.hi-slide > ul> li{
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 147px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 3px solid white;
  background-color: #333;
  cursor: pointer;
}
.hi-slide >ul > li > img {
  width: 100%;
  height: 100%;
  background-position: center;
}
.hi-slide .hi-next,
.hi-slide .hi-prev{
  position:absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  color: black;
  transition: all 0.7s;
  font-size: 20px;
  font-weight: bold;

}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
  opacity: 1;
  background-color: #dfd5b4;
}
.hi-slide .hi-prev{
  left: -70px;
}
.hi-slide .hi-prev::before{
  content: '<';
}
.hi-slide .hi-next{
  right: -70px;
}
.hi-slide .hi-next::before{
  content: '>';
}

.Container-2{
  overflow: hidden;
    background-image:url('img/background-img1.png');
    padding:5%;
}
.image-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
}
.footer{
  text-align: left;
  background-image: linear-gradient(to right, #dfd5b4 ,#e9efeb);
  font-family: 'Alegreya Sans', sans-serif;
}
.footer a {
  color: #999;
  text-decoration:none;
}

.footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

.footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}
